/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background: #faf9f9;
}

.task {
	list-style: none;
	width: 230px;
	height: 40px;
	background: #cec9ca;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	margin: 5px;
}

.task:hover {
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.task li {
	float: left;
}

.task li:first-child {
	width: 200px;
}

.action a {
	text-decoration: none;
	margin-left: 5px;
	color: #595656;
}

.new {
	background: #a81415;
	width: 150px;
	text-align: center;
	padding: 5px;
	border-radius: 8px;
	font-size: 20px;
}

.new a {
	color: #fff;
	text-decoration: none;
}

.new:hover {
	background: #821011;
}
